@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Open Sans', sans-serif; }

header .navbar-light {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 40px; }
  header .navbar-light img {
    width: 80px; }
  header .navbar-light .navbar-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: transition all ease 28ms; }
    header .navbar-light .navbar-nav .nav-link {
      color: #000;
      display: inline-block;
      position: relative;
      margin: 0 15px; }
      header .navbar-light .navbar-nav .nav-link::after {
        content: '';
        position: absolute;
        width: 100%;
        transform: scaleX(0);
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: #000;
        transform-origin: bottom right;
        transition: transform 28ms ease-out; }
      header .navbar-light .navbar-nav .nav-link:hover::after {
        transform: scaleX(1);
        transform-origin: bottom left; }
      header .navbar-light .navbar-nav .nav-link:hover {
        color: #000; }
    header .navbar-light .navbar-nav .carrito svg {
      width: 40px;
      margin: 0 30px 0 15px; }
      header .navbar-light .navbar-nav .carrito svg:hover {
        transform: scale(1.2, 1.2); }

.contenedorAbout {
  width: 90%;
  margin: 40px auto;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #b0949c; }
  .contenedorAbout .textoYunta {
    width: 60%;
    padding: 20px;
    text-align: justify;
    color: #fff;
    font-weight: 300; }
    .contenedorAbout .textoYunta h1 {
      font-size: 2rem;
      margin-bottom: 20px; }
    .contenedorAbout .textoYunta p {
      font-size: 1.2rem;
      line-height: 40px; }
  .contenedorAbout .videoYunta {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center; }

.productos {
  width: 90%;
  margin: 60px auto;
  padding: 20px; }
  .productos h2 {
    margin-bottom: 40px;
    text-align: center;
    font-weight: 300; }
  .productos .col {
    text-align: center; }
    .productos .col .btn-comprar {
      padding: 10px 20px;
      border: 2px solid #000;
      border-radius: 5px;
      background-color: #fff;
      color: black; }
    .productos .col .btn-comprar:hover {
      background-color: #b0949c;
      color: #fff;
      border: 2px solid #fff; }

footer {
  background-color: #488f53;
  padding: 40px;
  margin-top: 20px;
  text-align: center;
  color: #fff; }
  footer h5 {
    margin: 20px 0;
    font-size: 1.2rem;
    font-weight: 300; }
  footer nav a {
    text-decoration: none;
    color: white;
    padding: 20px; }
  footer nav a:hover {
    color: #fff; }
  footer nav svg {
    width: 2%;
    transition: all ease 28ms; }
  footer nav svg:hover {
    transform: scale(1.2, 1.2); }

/*# sourceMappingURL=style.css.map */
