@import url("https://fonts.googleapis.com/css2?family=Yaldevi:wght@200;300;400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;1,400;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

body {
  font-family: 'Yaldevi', 'Open Sans', sans-serif; }

header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 2;
  background-color: #fff; }
  header .navbar-light {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40px; }
    header .navbar-light img {
      width: 80px; }
    header .navbar-light .navbar-nav {
      display: flex;
      justify-content: space-between;
      align-items: center;
      transition: transition ease 2s; }
      header .navbar-light .navbar-nav .nav-link {
        color: #000;
        display: inline-block;
        position: relative;
        margin: 0 15px; }
        header .navbar-light .navbar-nav .nav-link::after {
          content: '';
          position: absolute;
          width: 100%;
          transform: scaleX(0);
          height: 2px;
          bottom: 0;
          left: 0;
          background-color: #000;
          transform-origin: bottom right;
          transition: transform 28ms ease-out; }
        header .navbar-light .navbar-nav .nav-link:hover::after {
          transform: scaleX(1);
          transform-origin: bottom left; }
        header .navbar-light .navbar-nav .nav-link:hover {
          color: #000; }
      header .navbar-light .navbar-nav .carrito {
        background-color: transparent;
        border: 0;
        margin: 0 30px 0 15px;
        width: 50px;
        display: flex;
        justify-content: center;
        align-items: center; }
        header .navbar-light .navbar-nav .carrito svg {
          width: 100%;
          margin-right: 4px; }
          header .navbar-light .navbar-nav .carrito svg:hover {
            transform: scale(1.2, 1.2); }

.main {
  margin-top: 115px; }

.about .contenedor1 {
  background-color: whitesmoke;
  width: 100%;
  padding: 150px 300px;
  display: flex;
  justify-content: space-around;
  align-content: center; }
  .about .contenedor1 .texto1 {
    width: 50%; }
    .about .contenedor1 .texto1 h3 {
      font-size: 1.2rem;
      letter-spacing: 5px; }
      .about .contenedor1 .texto1 h3 span {
        font-weight: 600; }
  .about .contenedor1 .texto2 {
    width: 50%; }
    .about .contenedor1 .texto2 .negrita {
      font-weight: 600;
      font-size: 1.2rem; }
    .about .contenedor1 .texto2 p {
      font-size: 1.2rem; }
.about .contenedor2 {
  background-color: #f0f0f0;
  width: 100%;
  padding: 80px 300px;
  display: flex;
  justify-content: space-around;
  align-content: center; }
  .about .contenedor2 .left-img {
    width: 50%;
    margin-top: -200px;
    margin-left: -120px; }
    .about .contenedor2 .left-img img {
      width: 100%;
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
  .about .contenedor2 .textoYunta {
    width: 50%;
    margin-left: 120px;
    text-align: justify; }
    .about .contenedor2 .textoYunta p {
      font-size: 1.2rem;
      line-height: 40px; }
      .about .contenedor2 .textoYunta p span {
        font-weight: 600; }
    .about .contenedor2 .textoYunta .negrita {
      font-weight: 600;
      font-size: 1.2rem;
      line-height: 40px; }

@media only screen and (min-width: 200px) and (max-width: 549px) {
  .about .contenedor1 {
    padding: 140px 10px;
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center; }
    .about .contenedor1 .texto1 {
      margin-bottom: 25px; }
      .about .contenedor1 .texto1 h3 {
        font-size: 1rem; }
    .about .contenedor1 .texto2 p {
      font-size: 1rem; }
    .about .contenedor1 .texto2 .negrita {
      font-size: 1rem; }
  .about .contenedor2 {
    padding: 60px 60px;
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center; }
    .about .contenedor2 .left-img {
      width: 60%;
      margin-top: -140px;
      margin-left: 0;
      display: flex;
      justify-content: center; }
    .about .contenedor2 .textoYunta {
      width: 100%;
      margin: 50px auto; }
      .about .contenedor2 .textoYunta p {
        font-size: 1rem; }
      .about .contenedor2 .textoYunta .negrita {
        font-size: 1rem; } }
@media only screen and (min-width: 550px) and (max-width: 779px) {
  .about .contenedor1 {
    padding: 140px 60px; }
  .about .contenedor2 {
    padding: 60px 60px;
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center; }
    .about .contenedor2 .left-img {
      width: 60%;
      margin-top: -140px;
      margin-left: 0;
      display: flex;
      justify-content: center; }
    .about .contenedor2 .textoYunta {
      width: 100%;
      margin: 50px auto; } }
@media only screen and (min-width: 780px) and (max-width: 990px) {
  .about .contenedor1 {
    padding: 150px 80px; }
  .about .contenedor2 {
    padding: 60px 60px; }
    .about .contenedor2 .left-img {
      width: 50%;
      margin-top: -150px;
      margin-left: 10px; }
    .about .contenedor2 .textoYunta {
      margin-left: 60px; } }
@media only screen and (min-width: 990px) and (max-width: 1100px) {
  .about .contenedor1 {
    padding: 150px 120px; }
  .about .contenedor2 {
    padding: 80px 120px; }
    .about .contenedor2 .left-img {
      width: 50%;
      margin-top: -160px;
      margin-left: -60px; }
    .about .contenedor2 .textoYunta {
      margin-left: 80px; } }
@media only screen and (min-width: 1100px) and (max-width: 1300px) {
  .about .contenedor1 {
    padding: 150px 250px; }
  .about .contenedor2 {
    padding: 80px 250px; }
    .about .contenedor2 .left-img {
      width: 50%;
      margin-top: -200px;
      margin-left: -100px; }
    .about .contenedor2 .textoYunta {
      margin-left: 100px; } }
.productos {
  width: 90%;
  margin: 0 auto;
  padding: 120px 50px; }
  .productos h2 {
    margin-bottom: 40px;
    text-align: center;
    font-weight: 300; }
  .productos .col {
    text-align: center; }
    .productos .col .btn-comprar {
      padding: 10px 20px;
      border: 2px solid #000;
      border-radius: 5px;
      background-color: #fff;
      color: black; }
    .productos .col .btn-comprar:hover {
      background-color: #b0949c;
      color: #fff;
      border: 2px solid #fff; }

.modal-contenedor {
  z-index: 2;
  width: 100%;
  height: 100vh;
  position: fixed;
  top: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  visibility: hidden;
  opacity: 0; }
  .modal-contenedor .modal-carrito {
    background-color: white;
    position: relative;
    padding: 20px;
    min-width: 500px;
    transition: all .5s;
    margin-top: -100%; }
    .modal-contenedor .modal-carrito h3 {
      color: #b0949c;
      padding-bottom: 5px; }
    .modal-contenedor .modal-carrito #carritoCerrar {
      position: absolute;
      top: 15px;
      right: 15px;
      width: 20px;
      background-color: transparent;
      border: none; }
      .modal-contenedor .modal-carrito #carritoCerrar:focus {
        outline: none; }
    .modal-contenedor .modal-carrito .precioProducto {
      padding-top: 10px; }
    .modal-contenedor .modal-carrito .boton-eliminar {
      width: 20px;
      background-color: transparent;
      border: none; }

.modal-active {
  opacity: 1;
  visibility: visible; }
  .modal-active .modal-carrito {
    margin-top: 0; }

footer {
  background-color: #488f53;
  padding: 40px;
  margin-top: 20px;
  text-align: center;
  color: #fff; }
  footer h5 {
    margin: 20px 0;
    font-size: 1.2rem;
    font-weight: 300; }
  footer nav a {
    text-decoration: none;
    color: white;
    padding: 20px; }
  footer nav a:hover {
    color: #fff; }
  footer nav svg {
    width: 30px;
    transition: all ease 28ms; }
  footer nav svg:hover {
    transform: scale(1.2, 1.2); }

@media only screen and (min-width: 200px) and (max-width: 900px) {
  footer h5 {
    font-size: 1rem; }
  footer nav svg {
    width: 20px; } }
.contacto {
  margin-top: 85px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px; }
  .contacto .contenedorImg {
    width: 50%;
    display: flex;
    justify-content: center;
    align-content: center;
    padding: 40px; }
    .contacto .contenedorImg img {
      width: 500px;
      border-radius: 260px;
      opacity: 0.5;
      transition: transition ease 2s; }
      .contacto .contenedorImg img:hover {
        opacity: 1; }
  .contacto .contenedorForm {
    width: fit-content;
    padding: 30px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    align-content: center;
    flex-flow: column;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); }
    .contacto .contenedorForm h2 {
      font-weight: 400;
      font-size: 1.6rem;
      margin-bottom: 30px; }
    .contacto .contenedorForm .form {
      display: flex;
      flex-flow: column; }
      .contacto .contenedorForm .form .grupoForm {
        display: flex;
        flex-flow: column;
        justify-content: space-evenly;
        padding: 10px; }
        .contacto .contenedorForm .form .grupoForm label {
          margin-bottom: 10px;
          font-size: 1.1rem;
          font-weight: 400; }
        .contacto .contenedorForm .form .grupoForm input, .contacto .contenedorForm .form .grupoForm textarea {
          padding: 5px;
          border: 2px solid rgba(0, 0, 0, 0.4);
          border-radius: 5px; }
      .contacto .contenedorForm .form .btn-form {
        display: block;
        border: 2px solid #000;
        border-radius: 5px;
        background-color: #fff;
        width: fit-content;
        padding: 12px 24px;
        margin: 10px auto; }
        .contacto .contenedorForm .form .btn-form:hover {
          background-color: #000;
          color: #fff; }

@media only screen and (min-width: 780px) and (max-width: 1100px) {
  .contacto {
    display: flex;
    justify-content: space-between; }
    .contacto .contenedorImg {
      width: 50%; }
      .contacto .contenedorImg img {
        width: 300px; }
    .contacto .contenedorForm .form .grupoForm input, .contacto .contenedorForm .form .grupoForm textarea {
      width: 150px; } }
@media only screen and (min-width: 200px) and (max-width: 779px) {
  .contacto {
    display: flex;
    flex-flow: column;
    justify-content: space-between; }
    .contacto .contenedorImg {
      width: 50%; }
      .contacto .contenedorImg img {
        width: 300px; } }

/*# sourceMappingURL=style.css.map */
