.about {
    .contenedor1 {
        background-color:rgb(245, 245, 245);
        width: 100%;
        padding: 150px 300px;
        display: flex;
        justify-content: space-around;
        align-content: center;
        .texto1 {
            width: 50%;
            h3 {
                font-size: 1.2rem;
                letter-spacing: 5px;
                span {
                    font-weight: 600;
                }}}
        .texto2 {
            width: 50%;
            .negrita {
                font-weight: 600;
                font-size: 1.2rem;}
            p {
                font-size: 1.2rem;}}
    }
    .contenedor2 {
        background-color:#f0f0f0;
        width: 100%;
        padding: 80px 300px;
        display: flex;
        justify-content: space-around;
        align-content: center;
        .left-img {
            width: 50%;
            margin-top: -200px;
            margin-left: -120px;
            img {
                width:100%;
                box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);}
        }
        .textoYunta {
            width: 50%;
            margin-left: 120px;
            text-align: justify;
            p {
                font-size: 1.2rem;
                line-height: 40px;
                span {
                    font-weight: 600;}}
            .negrita {
                font-weight: 600;
                font-size: 1.2rem;
                line-height: 40px;}
        }
    }
}

@media only screen and (min-width:200px) and (max-width:549px) {
    .about {
        .contenedor1 {
            padding: 140px 10px;
            display: flex;
            flex-flow: column;
            align-content: center;
            align-items: center;
            .texto1 {
                margin-bottom: 25px;
                h3 {
                    font-size: 1rem;}}
            .texto2 {
                p {
                    font-size: 1rem;}
                .negrita {
                    font-size: 1rem;}}
        }
        .contenedor2 {
            padding: 60px 60px;
            display: flex;
            flex-flow: column;
            align-content: center;
            align-items: center;
            .left-img {
                width: 60%;
                margin-top: -140px;
                margin-left: 0;
                display: flex;
                justify-content: center;}
            .textoYunta {
                width: 100%;
                margin: 50px auto;
                p {
                    font-size: 1rem;}
                .negrita {font-size: 1rem;}}
            }
    }   
}

@media only screen and (min-width:550px) and (max-width:779px) {
    .about {
        .contenedor1 {
            padding: 140px 60px;
        }
        .contenedor2 {
            padding: 60px 60px;
            display: flex;
            flex-flow: column;
            align-content: center;
            align-items: center;
            .left-img {
                width: 60%;
                margin-top: -140px;
                margin-left: 0;
                display: flex;
                justify-content: center;}
            .textoYunta {
                width: 100%;
                margin: 50px auto;}
            }
    }   
}

@media only screen and (min-width:780px) and (max-width:990px) {
    .about {
        .contenedor1 {
            padding: 150px 80px;
        }
        .contenedor2 {
            padding: 60px 60px;
            .left-img {
                width: 50%;
                margin-top: -150px;
                margin-left: 10px;}
            .textoYunta {
                margin-left: 60px;}
            }
    }
}

@media only screen and (min-width:990px) and (max-width:1100px) {
    .about {
        .contenedor1 {
            padding: 150px 120px;
        }
        .contenedor2 {
            padding: 80px 120px;
            .left-img {
                width: 50%;
                margin-top: -160px;
                margin-left: -60px;}
            .textoYunta {
                margin-left: 80px;
            }
            }
    }
}

@media only screen and (min-width:1100px) and (max-width:1300px) {
    .about {
        .contenedor1 {
            padding: 150px 250px;
        }
        .contenedor2 {
            padding: 80px 250px;
            .left-img {
                width: 50%;
                margin-top: -200px;
                margin-left: -100px;}
            .textoYunta {
                margin-left: 100px;
            }}
    }
}