header {
    .navbar-light {
        img {
            width: 6%;
        }
        .navbar-nav{
            .nav-link {
                color: #000;
            }
            .nav-link:hover{
                text-decoration: underline;
            }}
        }
    }
